<div class="row">
  <div class="col-sm-10">
    <h1><%= t '.title' %></h1>
  </div>
  <div class="col-sm-2">
    <h2><%= link_to 'TODO', new_workout_path, role: 'button', class: 'btn btn-success btn-lg btn-block' %></h2>
  </div>
</div>

<div class="row">

  <div class="col-sm-8">
    <% if @workouts.empty? %>
      <p><%= t '.no_workout_to_show' %></p>
    <% else %>
      <% @workouts.each do |workout| %>
        <%= render partial: 'workouts/summary', locals: {workout: workout} %>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <p>TODO sidebar</p>
  </div>
</div>
