
body {
  padding-top: 50px;
}

label.required:after {
  content:" *";
}

.skipped-workout {
  text-decoration: line-through;
}

/*
.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}
*/
