<hr />
<p class="text-muted pull-right"><small><%= l Time.zone.now, format: :detailed %> @ H</small></p>
<p class="text-muted"><small>Powered by <%= link_to 'TrainingTracker', 'https://github.com/rtopitt/training_tracker', target: '_blank' %>.</small></p>
